$mainFontSize:1rem;
$bigFontSize:1.2rem;
$smallFontSize: 0.8rem;
$mainColor: #000000;
$mainGradient:linear-gradient(to right, rgba(188, 211, 204, 0), rgba(188, 211, 204, 1));
$highlightingText: uppercase;
$importantFont: bold;
$nextInformation: italic;
$bigMargin: 2rem;
$mainPadding: 1rem;

@mixin flexColumn () {
    display: flex;
    flex-direction: column;
}

@mixin gridCenter () {
    display: grid;
    justify-content: center;
}


html {
    box-sizing: border-box;
}


::after,
::before {
    box-sizing: inherit;
}


.container {
    margin: auto;
    box-shadow: 1px 0 5px #808080;
    max-width: 1025px;

    &--text {
        font-family: 'Montserrat', sans-serif;
        color: $mainColor;
    }
}


/*---mobil---*/

/*---HEADER---*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-image: $mainGradient;
}

.header__logo--modification {
    height: 20px;
}


.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 80%;

    &__items {list-style: none;}

    &--text { 
        color: $mainColor;
        text-transform: $highlightingText;
        font-weight: $nextInformation;
        font-size: 0.7rem;
    }
}


/*---MAIN INFORMATION---*/


.introduction {
    @include flexColumn ();
    align-items: center;
}

.introduction-me {
    text-align: center;
}

.introduction-me__name--text {
    font-size: $bigFontSize;
}

.introduction-me__job--text {
    font-size: $mainFontSize;
    font-style: $nextInformation;
    margin: 0;
}
.introduction__portrait--modification {
    width: 100px;
    border-radius: 50%;
    justify-self: center;
    order: -1;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.contact-icons { 
    padding-left: 0;
    display: flex;
    list-style: none;
    margin-top: $bigMargin;
    justify-content: space-evenly;
}

.contact-icons__button {
    padding: 0.3rem;
}

.contact-icons__button--modification {
    height: 20px;
}

/*---HEADING---*/

.section_heading {
    padding: $mainPadding 2rem;
    background-image: $mainGradient;
    text-align: center;

    &--text {
        font-size: $mainFontSize;
        font-weight: $importantFont;
    }

}


/*---ABOUT ME---*/

.about-me {
    margin: $bigMargin;

    &__description {
        margin-bottom: $bigMargin;
        text-align: center;

        &--text {
            font-size: $smallFontSize;
        }
    }
}

.about-me-timeline-point {
    margin-bottom: $bigMargin;
}

.about-me-timeline-point-description {
    @include flexColumn ();
    align-items: center;
    text-align: center;
}

.about-me-timeline-point-description__year--text {
    font-size: 0.9rem;
    font-weight: $importantFont;
}

.about-me-timeline-point-description__info--text {
    font-size: $smallFontSize;
    font-style: $nextInformation;
}

.about-me-timeline-point img {
    display: none;
}

/*---PORTFOLIO---*/


.portfolio {
    display: grid;
    justify-items: center;
    row-gap: 1.5rem;
    margin: $bigMargin;
    
    &__description {
        text-align: center;
    }
}


.nabidka {
        img {
            place-self: center;
            width: 100%;
            height: 100%;
}
}


/*---CONTACT---*/

.contact {
    padding: $mainPadding;
    text-align: center;
}

.contact--text {
    font-size: $smallFontSize;
}

.contact__address--text {
    line-height: 1.2rem;
    font-style: $nextInformation;  
}


/*---tablet---*/

@media screen and (min-width: 450px) {


/*---HEADER---*/

header {
    padding: $mainPadding;    
}

.header__logo--modification {
    height: 35px;
}

.nav--text {
    font-size: $mainFontSize;
}

/*---MAIN INFORMATION---*/

.introduction {
    margin: $bigMargin;
    flex-direction: row;
    justify-content: space-evenly;
}

.introduction-me {
    padding-right: 0.5rem;
    flex-basis: 60%;
    order: -1;
}

/*Zde bych se chtěla zeptat, zda můžu udělat pouze jednokrokové zanoření, tedy &__year--text nebo to musím rozeptat a --text jakožto modifikátor elementu year dát jako další zanoření? Jde mi o to, že vlastnost mám až pro modifikátor elementu ne pro element samotný a pokud bych to musela zanořovat ve dvou krocích bylo by to více řádků než v původní podobě. Snad jsem to napsala als trochu pochopitelně :) děkuji*/

.introduction-me__name--text {
    font-size: 1.8rem;
}

.introduction-me__job--text {
    font-size: 1.5rem;
}

.introduction__portrait--modification {
    width: 130px;
    border-radius: 20px;
}

.contact-icons {
    justify-content: start;
    margin: $bigMargin;

    &__button {
        padding: 0.5rem;

        &--modification {
            height: 30px;
        }
    }
}

.header-bottom {
    margin-top: 2.5rem;
}

/*---HEADING---*/

.section_heading--text  {
    font-size: 1.5rem;
}

/*---ABOUT ME---*/

.about-me__description--text {
    font-size: $mainFontSize;
}

.about-me-timeline-point-description__year--text {
    font-size: $bigFontSize;
}

.about-me-timeline-point-description__info--text {
    font-size: $mainFontSize;
}

/*---PORTFOLIO---*/

.portfolio {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    justify-content: center;

    &__description {
        grid-column-end: span 2;
    }

}

/*---CONTACT---*/

.contact {
    &--text {font-size: $mainFontSize;}
    &__address {
        &--text {line-height: 2rem;}
    }
}

}

/*---PC---*/ 

@media screen and (min-width: 650px) {

/*---HEADER---*/

.header__logo--modification {
    height: 45px;
}

.nav--text {
    font-size: $bigFontSize;
}

/*---MAIN INFORMATION---*/


.introduction__portrait--modification {
    width: 250px;
    height: 300px;
}


/*---ABOUT ME---*/

.about-me-timeline-point {
    display: flex;
    justify-content:space-around;
    align-items:center;
    
        img {
        display: block;
        border-radius: 50%;
    }
}

.about-me-timeline-point-description {
    flex-basis: 50%;
}


/*---PORTFOLIO---*/

.portfolio {
     grid-template-columns: repeat(3, 1fr);
       
        p {
        grid-column-end: span 3;
    }
}

/*---CONTACT---*/

.contact {
    @include gridCenter ();
    grid-template-columns: 300px minmax(0, 400px);
}

}
